<h1>What have you been up to lately, <%=@user.username%>?</h1>
<br>
<a href='/activities'>Get inspired for your next new thing</a>
<br>
<a href='/activities/completed'>Add a new adventure to your log</a>
<br>
<a href='/logout'>Logout</a>
<br>
<br>
<ul>
<p>Look at all the adventures you've had...</p>
  <%@user.completes.order(:date).each do |a|%>
    <li><%=a.date.strftime("%A, %B %d %Y")%>: <%=a.todo.name%></li>
    <%end%>
</ul>
<br>
<ul>
  <p>But there's still so much left to explore!</p>
  <%@user.wishlists.each do |a|%>
    <li><%=a.todo.name%></li>
    <%end%>
</ul>
