<h1> Here are some ideas for your next adventures ... </h1>
<br>
<ul>
  <%Todo.all.each do |a|%>
    <li><a href="/activity/<%=a.id%>"><%=a.name.capitalize%></a></li>
    <%end%>
</ul>
<h2> Didn't see what you're looking for?</h2>
<br>
<a href='/activity/new'>Add a new activity here</a>
