<h2>Add a new activity to our database!</h2>
<form action='/activity' method='POST'>
  <label>Name:</label>
  <br>
  <input type:'text' name='name'>
  <br>
  <label>Link to website about this activity (optional):</label>
  <br>
  <input type:'text' name='url'>
  <br>
<input type='submit' value='Add Activity'>
</form>
