<h1>Why stagnate when you can stagNot?</h1>
<br>
<h5>* Try something new every day and keep track of your adventures with our personalized tracker.</h5>
<h5>* Never run out of inspiration - we have a crowdsourced database of activities and a personal 'wishlist' to keep you motivated</h5>
<br>
<p>Click <a href='/signup'>here</a> to start your stagNot journey</p>
<p>Click <a href='/login'>here</a> to continue growing</p>
